@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 150%;
  /* 27px */

}

*,
*:before,
*:after {
  box-sizing: border-box;

}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: #1e1e1e;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.abstract-bg {
  background-image: url("/abstract_CTA_left.png"), url("/abstract_CTA_right.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, bottom right;
}

@media screen and (max-width: 728px) {
  .abstract-bg {
    background-image: url("/abstract_CTA_left.png");
    background-repeat: no-repeat;
    background-position: bottom left;
  }
}